@import url(reset.css);
@import url(fonts.css);
.next-title{
	color: #2f302c;
	text-align: center;
  font-size: 16px;
  font-style: normal;
  font-family: "Lato",sans-serif;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: none;
}
.text{
	color: #7e7f7c;
  font-size: 16px;
  font-style: normal;
  font-family: "Lato",sans-serif;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: none;
  text-align: center;
}
.title .main-title {
	font-family: "Lato", sans-serif;
	color: #2f302c;
  	font-size: 32px;
  	font-style: normal;
	font-weight: 800;
  	line-height: 40px;
  	letter-spacing: 0;
	margin-top: 82px;
	margin-bottom: 72px;
	text-align: center;
  	max-width: auto;
  	min-height: auto;
	/* background-color: aquamarine; */
	box-sizing:border-box;
}
.sections{
	max-width: 1180px;
	margin: 72px auto;
	margin-bottom: 82px;
	text-align: center;
	/* background-color: tomato; */
	box-sizing:border-box;
	width: 100%;
}
.section-1, .section-2, .section-3, .section-4, .section-5, .section-6{
	display: inline-block;
	width: 348px;
	height: 208px;
	margin-bottom: 68px;
	/* background-color: lightgreen; */
}
.section-1, .section-4{
	/* background-color: aqua; */
	margin-right: 3%;
}
.section-3, .section-6{
	/* background-color: black; */
	margin-left: 3%;
}
.image, .next-title{
	margin-bottom:24px;
}