@import url(reset.css);
@import url(fonts.css);

.title .main-title {
	font-family: "Lato", sans-serif;
	color: #2f302c;
  	font-size: 32px;
  	font-style: normal;
	font-weight: 800;
  	line-height: 40px;
  	letter-spacing: 0;
	margin-top: 82px;
	margin-bottom: 72px;
	text-align: center;
}
.sections{
	margin-top: 5%;
	margin-left:15%;
	margin-right:15%;
	text-align: center;

}
.section-1{
	max-width: 348px;
	margin-left:-5%
}
.section-1 .next-title 
{
	color: #2f302c;
	padding-top: 5%;
	text-align: center;
  font-size: 16px;
  font-style: normal;
  font-family: "Lato",sans-serif;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: none;
}
.section-1 .text {
	color: #7e7f7c;
  font-size: 16px;
  font-style: normal;
  font-family: "Lato",sans-serif;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: none;
  text-align: center;
  padding-top: 5%;
}
.section-2{

	max-width: 348px;
	text-align: center;
	margin-left:348px;
	margin-top: -194px;
}
.section-2 .next-title 
{
	color: #2f302c;
	padding-top: 5%;
	text-align: center;
  font-size: 16px;
  font-style: normal;
  font-family: "Lato",sans-serif;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: none;
}
.section-2 .text {
	color: #7e7f7c;
  font-size: 16px;
  font-style: normal;
  font-family: "Lato",sans-serif;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: none;
  text-align: center;
  padding-top: 5%;
}
.section-3{

	max-width: 348px;
	text-align: center;
	margin-left:696px;
	margin-top: -194px;
	margin-left: 73%;

}
.section-3 .next-title 
{
	color: #2f302c;
	padding-top: 5%;
	text-align: center;
  font-size: 16px;
  font-style: normal;
  font-family: "Lato",sans-serif;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: none;
}
.section-3 .text {
	color: #7e7f7c;
  font-size: 16px;
  font-style: normal;
  font-family: "Lato",sans-serif;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: none;
  text-align: center;
  padding-top: 5%;
}
.section-4{

	max-width: 348px;
	text-align: center;
	margin-top: 68px;
	margin-left:-5%;
}
.section-4 .next-title 
{
	color: #2f302c;
	padding-top: 5%;
	text-align: center;
  font-size: 16px;
  font-style: normal;
  font-family: "Lato",sans-serif;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: none;
}
.section-4 .text {
	color: #7e7f7c;
  font-size: 16px;
  font-style: normal;
  font-family: "Lato",sans-serif;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: none;
  text-align: center;
  padding-top: 5%;
}
.section-5{

	max-width: 348px;
	text-align: center;
	margin-left:348px;
	margin-top: -194px;
}
.section-5 .next-title 
{
	color: #2f302c;
	padding-top: 5%;
	text-align: center;
  font-size: 16px;
  font-style: normal;
  font-family: "Lato",sans-serif;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: none;
}
.section-5 .text {
	color: #7e7f7c;
  font-size: 16px;
  font-style: normal;
  font-family: "Lato",sans-serif;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: none;
  text-align: center;
  padding-top: 5%;
}
.section-6{

	max-width: 348px;
	text-align: center;

	margin-top: -194px;
	margin-left: 73%;
;

}
.section-6 .next-title 
{
	color: #2f302c;
	padding-top: 5%;
	text-align: center;
  font-size: 16px;
  font-style: normal;
  font-family: "Lato",sans-serif;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: none;
}
.section-6 .text {
	color: #7e7f7c;
  font-size: 16px;
  font-style: normal;
  font-family: "Lato",sans-serif;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: none;
  text-align: center;
  padding-top: 5%;
}
